# Example `apt` requirements file for Ubuntu 20.04 LTS.

# Essential packages.
ffmpeg
libjemalloc2
libjpeg-turbo8
libpng16-16
libxcb1  # Necessary when built from source.
openssl
openssh-server
sudo
tzdata
zsh

# Additional packages.
at
git
nano
parallel
rsync
tmux
curl
gedit
wget

# Needed for Mujoco. Taken from https://github.com/openai/mujoco-py/blob/master/Dockerfile
libgl1-mesa-dev
libgl1-mesa-glx
libglew-dev
libosmesa6-dev
xvfb
xpra
xserver-xorg-dev
mesa-utils
