_libgcc_mutex             == 0.1
_openmp_mutex             == 4.5
aom                       == 3.5.0
astunparse                == 1.6.3
autoconf                  == 2.69
brotlipy                  == 0.7.0
bzip2                     == 1.0.8
c-ares                    == 1.18.1
ca-certificates           == 2022.12.7
ccache                    == 4.7.3
certifi                   == 2022.12.7
cffi                      == 1.15.1
charset-normalizer        == 2.0.4
cmake                     == 3.25.1
colorama                  == 0.4.4
conda                     == 22.11.1
conda-content-trust       == 0.1.1
conda-package-handling    == 2.0.2
conda-package-streaming   == 0.7.0
cryptography              == 38.0.4
curl                      == 7.86.0
expat                     == 2.5.0
ffmpeg                    == 5.1.2
font-ttf-dejavu-sans-mono == 2.37
font-ttf-inconsolata      == 3.000
font-ttf-source-code-pro  == 2.038
font-ttf-ubuntu           == 0.83
fontconfig                == 2.14.1
fonts-conda-ecosystem     == 1
fonts-conda-forge         == 1
freetype                  == 2.12.1
future                    == 0.18.2
gettext                   == 0.21.1
git                       == 2.38.1  # Git 2.39.0 causes errors when --jobs=0.
gmp                       == 6.2.1
gnutls                    == 3.7.8
icu                       == 70.1
idna                      == 3.3
jemalloc                  == 5.2.1
jpeg                      == 9e
keyutils                  == 1.6.1
krb5                      == 1.20.1
lame                      == 3.100
lcms2                     == 2.14
ld_impl_linux-64          == 2.39
lerc                      == 4.0.0
libblas                   == 3.9.0
libcblas                  == 3.9.0
libcurl                   == 7.86.0
libdeflate                == 1.14
libdrm                    == 2.4.114
libedit                   == 3.1.20191231
libev                     == 4.33
libffi                    == 3.4.2
libgcc-ng                 == 12.2.0
libgfortran-ng            == 12.2.0
libgfortran5              == 12.2.0
libhiredis                == 1.0.2
libhwloc                  == 2.8.0
libiconv                  == 1.17
libidn2                   == 2.3.4
libjemalloc               == 5.2.1
libjpeg-turbo             == 2.1.4
liblapack                 == 3.9.0
libllvm15                 == 15.0.6
libnghttp2                == 1.47.0
libnsl                    == 2.0.0
libopenblas               == 0.3.21
libpciaccess              == 0.17
libpng                    == 1.6.39
libsqlite                 == 3.40.0
libssh2                   == 1.10.0
libstdcxx-ng              == 12.2.0
libtasn1                  == 4.19.0
libtiff                   == 4.4.0
libunistring              == 0.9.10
libuuid                   == 2.32.1
libuv                     == 1.44.2
libva                     == 2.16.0
libvpx                    == 1.11.0
libwebp-base              == 1.2.4
libxcb                    == 1.13
libxml2                   == 2.10.3
libzlib                   == 1.2.13
lld                       == 15.0.6
llvm-openmp               == 15.0.6
lz4-c                     == 1.9.3
m4                        == 1.4.18
ncurses                   == 6.3
nettle                    == 3.8.1
ninja                     == 1.11.0
numpy                     == 1.23.5
openh264                  == 2.3.1
openjpeg                  == 2.5.0
openssl                   == 3.0.7
p11-kit                   == 0.24.1
pcre2                     == 10.40
perl                      == 5.32.1
pillow                    == 9.2.0
pip                       == 22.3.1
pkg-config                == 0.29.2
pkgconfig                 == 1.5.5
pluggy                    == 1.0.0
popt                      == 1.16
pthread-stubs             == 0.4
pycosat                   == 0.6.4
pycparser                 == 2.21
pyopenssl                 == 22.0.0
pysocks                   == 1.7.1
python                    == 3.8.15
python_abi                == 3.8
pyyaml                    == 6.0
readline                  == 8.1.2
requests                  == 2.28.1
rhash                     == 1.4.3
rsync                     == 3.2.7
ruamel.yaml               == 0.17.21
ruamel.yaml.clib          == 0.2.7
setuptools                == 65.5.1
six                       == 1.16.0
sqlite                    == 3.38.2
svt-av1                   == 1.4.1
tbb                       == 2021.7.0
tk                        == 8.6.12
toolz                     == 0.12.0
tqdm                      == 4.63.0
typing_extensions         == 4.4.0
tzdata                    == 2022a
urllib3                   == 1.26.8
wheel                     == 0.37.1
x264                      == 1!164.3095
x265                      == 3.5
xorg-fixesproto           == 5.0
xorg-kbproto              == 1.0.7
xorg-libx11               == 1.7.2
xorg-libxau               == 1.0.9
xorg-libxdmcp             == 1.1.3
xorg-libxext              == 1.3.4
xorg-libxfixes            == 5.0.3
xorg-xextproto            == 7.3.0
xorg-xproto               == 7.0.31
xxhash                    == 0.8.0
xz                        == 5.2.6
yaml                      == 0.2.5
zlib                      == 1.2.13
zstandard                 == 0.19.0
zstd                      == 1.5.2
