**sync-conflict**

__pycache__
*.pyc
data
.DS_Store


# vim
*.swp
*.swo
*.swn

# jupyter notebook
notebooks
.ipynb_checkpoints
*.ipynb
wandb
.DS_Store

# conda env
bin/
etc/
lib/
share/

# JetBrains
.idea/

# Runs
single_runs
sweeper_runs
