**sync-conflict**

__pycache__
*.pyc
data
.DS_Store


# vim
*.swp
*.swo
*.swn

# jupyter notebook
notebooks
.ipynb_checkpoints
*.ipynb
.DS_Store

# conda env
bin/
etc/
lib/
share/

# JetBrains
.idea/

# Runs
train_runs
eval_runs
train_runs.tar.gz